<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13313138766-82oti63gmb7o6klc8jtgm9bc05gunpdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13313138766-82oti63gmb7o6klc8jtgm9bc05gunpdn</string>
	<key>API_KEY</key>
	<string>AIzaSyCQG9XeLDUD9Q57nHCNMxH0BoINIXUYpNE</string>
	<key>GCM_SENDER_ID</key>
	<string>13313138766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imhere</string>
	<key>PROJECT_ID</key>
	<string>i-m-here-c76d8</string>
	<key>STORAGE_BUCKET</key>
	<string>i-m-here-c76d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13313138766:ios:ecb3c979de2178492a631f</string>
</dict>
</plist>